.movie-container {
    position: relative; /* 자식 요소의 절대 위치를 설정하기 위해 relative 사용 */
    display: inline-block; /* 이미지가 한 줄에 나열되도록 설정 */
    width:140px;
    height:auto;
    margin:5px;
  }
  
  .movie-image {
    width: 100%; /* 이미지의 너비를 100%로 설정 */
    border-radius: 15px; 
  }
  
  .overlay {
    position: absolute; /* 오버레이를 이미지 위에 위치시키기 위해 absolute 사용 */
    top: 0; /* 위쪽 위치 */
    left: 0; /* 왼쪽 위치 */
    width: 100%; /* 너비 100% */
    height: 100%; /* 높이 100% */
    background-color: rgba(0, 0, 0, 0.5); /* 검정색 반투명 */
    opacity: 0; /* 기본적으로 오버레이를 보이지 않게 설정 */
    transition: opacity 0.3s; /* 부드러운 전환 효과 */
  }
  
  .movie-container:hover .overlay {
    opacity: 1; /* 마우스 오버 시 오버레이를 보이게 설정 */
  }